TF_Content: |-
  #!/bin/sh

  # export aws_access_key="$AWS_ACCESS_KEY_ID"
  # export aws_secret_key="$AWS_SECRET_ACCESS_KEY"
  # export aws_account_id="${AWS_ACCOUNT_ID}"
  # export aws_region="${AWS_DEFAULT_REGION}"
  # export aws_resource_prefix="${AWS_RESOURCE_NAME_PREFIX}"

  env | grep aws

  terraform init
  terraform plan
  terraform apply --auto-approve
TF_Git_path: terraform_setup
TF_Uninstall: |-
  #!/bin/sh

  terraform destroy
lastUpdatedBy: harish
lastUpdatedOn: 2022-12-14T08:39:47.814Z
